<div class="homePageHeading">
    <h1 class="blog-h1 googlefont">~~ The Tech-Blog ~~</h1>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href='/home'>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dash">Dashboard</a>
        </li>
        <li class="nav-item">
            <p class='nav-link'>User: <span>{{username}}</span></p>
        </li>
        <li class="nav-item">
            <button id="btn" type="button">Logout</button>
        </li>
    </ul>
</div>

<section class="text-center mt-5"><button type="click" class="newPost btn btn-secondary aline-center ">Make New
        Post</button>
</section>

<fieldset>
    <legend>Your Posts</legend>
    <div class="deletepost">
        {{#each posts as |post|}}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title form-control">{{post.name}}</h2>
                <h5 class="card-title form-control">Posted By:</h5>
                <p class="card-text form-control">{{post.description}}</p>
                <div class="d-flex justify-content-around">
                    <a href="/edit/{{post.id}}" class="btn btn-dark" role="button" aria-pressed="true">Edit</a>
                    <button id="deletePost" type="button" class="btn btn-dark" data-id="{{post.id}}">Delete</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</fieldset>

<script src="/js/logout.js"></script>
<script src="/js/dash.js"></script>

<script src="/js/delete.js"></script>
<script src="/js/edit.js"></script>